*{
    box-sizing:border-box;
    padding: 0px;
    margin: 0px;
}




.navbar-toggler-icon

{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}


/* ICONS OF TOP BAR  */

/* From Uiverse.io by andrew-demchenk0 */ 
.icons-container {
    position: relative;
    width: 250px;
   /*  choose your size */
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    
    margin-top: 0.5rem;

  }
  
  .icons-container button {
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    background-color: #313638;
    transition: 0.3s;
    cursor: pointer;
    border-radius:50% ;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .icon {
    width: 26px;
    height: 26px;
    fill: #fff;
  }
  
  .icons-container button:nth-child(1):hover {
    background-color: #2753a7;
  }
  
  .icons-container button:nth-child(2):hover {
    background-color: #cd242b;
  }
  
  .icons-container button:nth-child(3):hover {
    background-color: #55acee;
  }
  
  .icons-container button:nth-child(4):hover {
    background-color: #0274b3;
  }
  
  .title {
    color: gray;
    font-weight: 700;
    font-size: 17px;
    position: absolute;
    top: -35px;
    left: 0;
  }



  /* top baaaar */

  .contact-container
  {
    
    display: flex;
    justify-content: space-evenly;
    padding: 0.5rem;
}

.contact1
{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.mail a
{
    color: #03346E;
    font-size: larger;
}

.mob-num
{
    font-size: larger;
    color: #03346E;
    margin-left: 2rem;
}





/* navvvvvvvvvvvvvvvvv */

nav
{
    background-color: #03346E !important;
    
}

.navbar-brand img
{
    width: 8rem;
    height:max-content;
    object-position: center;
    object-fit: contain;
}

.navbar-brand
{
    
}
.navbar-collapse
{
   
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 20rem;
}


nav ul li  a
{
    font-weight: 600;
    font-size: large;
    color: white;
}

select
{
    border: none;
    outline: none;
    width: max-content;
    background-color: transparent;
    color: white;
    font-size: large;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
   
    

    

option
{
    border-radius: 15px;
    background-color: #0274b3;
    color: white;
    margin-top: 1rem;
}



/* ABOUTTTTTTTTTTTTTTT USSSSSSSSSSSSS */

.about-container
{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 3rem;
    flex-wrap: wrap;
    padding: 2rem;

   

}


.heading
{
 font-size: xx-large;
 font-weight: 700;  

}

.descrip{
    width: 30rem;
}
.descrip-img img
{
    width: 25rem;
    border-radius: 7px;
}


.ab2
{
    background-color: rgba(172, 172, 172, 0.151);
    padding: 2rem;

}



/* counterrrrrrrrrrrrrrr */



.counter-container
{
    
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: #021526;
}


.counter
{
   
    padding: 1rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: large;
    font-weight: 600;
}

.text{
    
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
}
.count
{
    font-size: xx-large;
}




/* FOOOOOOOOOOOOOOOOOOOOOOOOOTTTTTTTTTTEEEEERRRRRRRR */


.fotter-container
{
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background-color: #021526;
    border: 1px solid;
}


/* FOOOOOOOTTTTTT IIIIICCCCCONSSSS */
.fotter
{
   
    width: 15rem;
    color: white;
    padding: 2rem;
}

.foot-img img
{
    width: 15rem;
    object-fit: cover;
    object-position: center;
}

.fotter .text, .fotter .text a

{
    font-size: medium;
    color:white;
}


.copy-rights-container
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #021526;
    width: 100%;
    color: #3e7baa;
    
}

.copy-rights-container .text
{
    margin: 1rem;
    font-size: small;
}

.fotter-container hr
{
    color: white;
}




@media (max-width:920px) {
    .contact-container
    {
        display: none;
        
    }

    .about-container
    {
        
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .about-container .heading{
       
        font-size: small;
        width: 15rem;
        font-weight: 600;
        margin: 1rem;
    }

 
        

    .descrip
    {
        margin: 1rem;
        font-size: x-small;
        display: flex;
        width: 15rem;
    }
    .about-container img
    {
        width: 10rem;

    }









    .counter-container
    {
       width:100%;
       display: flex;
       flex-wrap: wrap;
       justify-content:center;
       align-items: center;
       

    }


    .counter-container .count , .text
    {
       font-size: small;
       font-weight: 300;

    }
   .counter .text{
       font-size: small;
       font-weight: 200;
       margin: 0rem;
   
   }










   

   .fotter-container{
     
       width: 100%;
       display: flex;
       flex-wrap: wrap;
       justify-content: space-evenly;
       align-items: center;
       
   }

   .foot-img img
   {
       width: 4rem;
   }

  

   .fotter .heading
   {
       font-size: x-small;
   }
   .fotter .text{
       font-size: x-small;
       margin-left: 0.3rem;
       
   }
   
   .fotter .text a{
       
       font-size: x-small;
   }



      
       

   .t4,.t5{
       display: none;
   }

    .service, .shop
   {
       display: none;
   }

   
   .copy-rights-container .text
   {
       font-size: xx-small;
       font-weight: 100;
   }







}
