*{
    box-sizing:border-box;
    padding: 0px;
    margin: 0px;
}



/* ICONS OF TOP BAR  */

/* From Uiverse.io by andrew-demchenk0 */ 
.icons-container {
    position: relative;
    width: 250px;
   /*  choose your size */
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    
    margin-top: 0.5rem;

  }
  
  .icons-container button {
    width: 2rem;
    height: 2rem;
    padding: 0.2rem;
    border: none;
    background-color: #313638;
    transition: 0.3s;
    cursor: pointer;
    border-radius:50% ;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .icon {
    width: 26px;
    height: 26px;
    fill: #fff;
  }
  
  .icons-container button:nth-child(1):hover {
    background-color: #2753a7;
  }
  
  .icons-container button:nth-child(2):hover {
    background-color: #cd242b;
  }
  
  .icons-container button:nth-child(3):hover {
    background-color: #55acee;
  }
  
  .icons-container button:nth-child(4):hover {
    background-color: #0274b3;
  }
  
  .title {
    color: gray;
    font-weight: 700;
    font-size: 17px;
    position: absolute;
    top: -35px;
    left: 0;
  }



  /* top baaaar */

  .contact-container
  {
    
    display: flex;
    justify-content: space-evenly;
    padding:0rem;
    font-size: small;
}

.contact1
{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.mail a
{
    color: #03346E;
    font-size: larger;
}

.mob-num
{
    font-size: larger;
    color: #03346E;
    margin-left: 2rem;
}


/* Nabvarrrrrrrrrrrrrrr */

nav
{
    background-color: #03346E !important;
    
    
}

.navbar-brand img
{
    width: 8rem;
    height:max-content;
    object-position: center;
    object-fit: contain;
}

.navbar-brand
{
    
}
.navbar-collapse
{
   
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 20rem;
}


nav ul li  a
{
    font-weight: 600;
    font-size: large;
    color: white;
}

select
{
    border: none;
    outline: none;
    width: max-content;
    background-color: transparent;
    color: white;
    font-size: large;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
   
    

    

option
{
    border-radius: 15px;
    background-color: #0274b3;
    color: white;
    margin-top: 1rem;
   
}





/* heroooooooooooooooooooooosectiiiiiiiiiiooooooooooooonnnnnnnnnnn */


.jumbotron{
    border-radius: 0px;
    background-color:#021526;
    display: flex;
    justify-content:space-between;
}

.jumbotron img
{
    width: 25rem;
    border-radius: 7px;
    height: max-content;
    object-fit: cover;
}





/* SHOOOOOOOOOOOOOOOOOOOOOPPPPPPPPPPP */


.shops-container
{
   
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    flex-wrap: wrap;
    
}

.shop
{
   
    padding: 2rem;
}

.text{
    font-size: larger;
    font-weight: 300;
}

.heading
{
    font-size: x-large;
    font-weight: 700;
}

.shop-btn{
    padding: 0.4rem;
    border-radius: 5px;
    border: none;
    outline: none;
}

.shop-btn:hover
{

    padding: 0.6rem;
    transition: ease-in;
}

.shop-btn {
    background-color: #021526;
 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .shop-btn:hover {
    /* Darker green on hover */
    background-color: #021526;
  }
  


  .refill
  {
    background-color: #03346E !important;
    color: white;
    
  }



  /* CONTAIIIIIIIIIIIIIIIINNNNNNNNNNNNNNNEEEEEEEEEEEEEEEEEERRRRRRRRRRRS */
.about-container
  {
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 3rem;
    
    flex-wrap: wrap;
    padding: 4rem;
    
   height:max-content;
   
   }


   
.about-container .descrip
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


 .about-container .heading
{
 font-size: xx-large;
 font-weight: 700;  

 width: 35rem;

}

.descrip{
    width: 30rem;
    font-size: larger;
}
.descrip-img img
{
    width: 25rem;
    border-radius: 7px;
}


.ab2
{
    background-color: rgba(172, 172, 172, 0.151);
    padding: 2rem;

}





/* cardsssssssssssssssssssssssssssssssssssss */


.cards-container
{
    margin-top: 3rem;
   width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(172, 172, 172, 0.151);
}
.cards
{
    display: flex;
    justify-content: space-between;

}


.cards-container .featurette-heading
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    
}


.cards img
{
    object-fit: cover;
    object-position: center;
    width: 20rem;
}

.card
{
    width: 20rem;
    height: max-content;
    display: flex;
    justify-content: center;
}




/* AUTO GAAAAASSSSSSSSSSSSSS */


.product-containers
{
   
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction:column;
    align-items: center;
   
    margin-top: 2rem;
    background-color: rgba(172, 172, 172, 0.151);

}

.product-container
{
    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.product-card img
{
    filter: drop-shadow(2px 5px 3px);
    border-radius: 7px;
}

.product-card-container
{
    margin: 2rem;
    border: 1px solid;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 7px;
    
}

/* COUNTTTTTTERRRRRRRRRRRRRR */



.counter-container
{
    
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: #021526;
}


.counter
{
   
    padding: 1rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: large;
    font-weight: 600;
}

.text{
    
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
}
.count
{
    font-size: xx-large;
}

/* CLIENT TESTOMMONIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAALLLLLLL */

.carousel-caption{
   border-radius: 5px;
   padding: 4rem;
    position: absolute;
    top: 50%;
    height: max-content;
    background-color: #0215261f;
    backdrop-filter: blur(5px);
}

.testimonialdescrip
{
    font-size: larger;
}


















/* FOOOOOOOOOOOOOOOOOOOOOOOOOTTTTTTTTTTEEEEERRRRRRRR */


.fotter-container
{
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background-color: #021526;
    border: 1px solid;
}


/* FOOOOOOOTTTTTT IIIIICCCCCONSSSS */
.fotter
{
   
    width: 15rem;
    color: white;
    padding: 2rem;
}

.foot-img img
{
    width: 15rem;
    object-fit: cover;
    object-position: center;
}

.fotter .text, .fotter .text a

{
    font-size: medium;
    color:white;
}


.copy-rights-container
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #021526;
    width: 100%;
    color: #3e7baa;
}

.copy-rights-container .text
{
    margin: 1rem;
    font-size: small;
}

.fotter-container hr
{
    color: white;
}


/* WHATSAPPPPPPPPPPPPPPPPPPPPPPPPPPPP */
/* From Uiverse.io by NelsonDJCR */ 


.whatsapp
{
    
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 2rem;
    position: sticky;
    top: 0%;
    z-index: 10;
               
}

.button2 {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #090909;
    padding: 0.7em 3.3em 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    box-shadow: 6px 6px 12px #c5c5c5,
               -6px -6px 12px #ffffff;
              

              
               
  }
  
  .button2 > svg {
    height: 30px;
    position: absolute;
    padding: 0px 5px;
    margin-top: -4px;
  }
  
  .button2:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5,
               inset -4px -4px 12px #ffffff;
  }
  
  .button2:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button2:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #009087;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button2:hover {
    color: #ffffff;
    border: 1px solid #009087;
  }
  
  .button2:hover:before {
    top: -35%;
    background-color: #009087;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  .button2:hover:after {
    top: -45%;
    background-color: #009087;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  